[Unit]
Description=fourbuttons

[Service]
Type=exec
Restart=always
User=simon
Group=simon
Environment=RUST_LOG=INFO
WorkingDirectory=/home/simon
ExecStart=/home/simon/fourbuttons

[Install]
WantedBy=multi-user.target
